.fg__flowguard {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 10rem;
}

.fg__flowguard-info {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.fg__flowguard-info-text-left, .fg__flowguard-info-text-right {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    justify-content: center;
    align-items: flex-start;
}

.fg__flowguard-info-text-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.fg__flowguard-info-text-right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.fg__flowguard-info li {
    list-style:none;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 1rem;
    padding: 1rem 0;
}

.fg__flowguard-info li img {
    width: 30px;
    height: 30px;
}

.fg__flowguard-info li h6 {
    text-align: left;
    font-size: 18px;
    color: var(--primary-color);
}

.fg__flowguard-info-logo {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.fg__flowguard-info-logo img {
    max-height: 450px;
    width: auto;
}

.fg__flowguard-background {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* .shine-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), transparent, rgba(255, 255, 255, 0.2));
    animation: shine-animation 6s infinite;
  }

  @keyframes shine-animation {
    0%{
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(100%);
      opacity: 1;
    }
  } */


@media only screen and (max-width: 768px) {
    .fg__flowguard {
        padding: 0 1rem;
    }

    .fg__flowguard-info {
        margin: 3rem 0 0 0;
        padding-left: 1rem;
        padding-right: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .fg__flowguard-info-text-left, .fg__flowguard-info-text-right{
        flex-direction: column;
        height: 100%;
    }

    .fg__flowguard-info-text-left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 16px;
        padding: 0 0.75rem;
        justify-content: flex-end;
    }

    .fg__flowguard-info-text-left li {
        margin-bottom: 1rem;
    }

    .fg__flowguard-info-text-right {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 16px;
        padding: 0 0.75rem;
        justify-content: flex-start;
    }

    .fg__flowguard-info-text-right li {
        margin-top: 1rem;
    }

    .fg__flowguard-info ul {
        text-align: center;
    }

    .fg__flowguard-info-logo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        z-index: -1;
        opacity: 0.1;
    }

}

@media only screen and (min-width:768px) and (max-width: 1200px) {
    .fg__flowguard {
        padding: 3rem 1rem;
    }

    .fg__flowguard-info-text-left, .fg__flowguard-info-text-right {
        padding: 0 2rem;
    }

    .fg__flowguard-info-logo {
        padding: 0 2rem;
    }

    .fg__flowguard-info li h6 {
        font-size: 16px;
    }

    .fg__flowguard-info-logo img {
        max-height: 300px;
    }
}

@media only screen and (min-width:1200px) and (max-width: 1600px) {
    .fg__flowguard {
        padding: 3rem 2rem;
    }

    .fg__flowguard-info-logo {
        padding: 0 4rem;
    }

    .fg__flowguard-info-logo img {
        max-height: 360px;
    }
}