.fg__processSlide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fg__processSlide-img {
    width: 100%;

    min-width: 313px;
    min-height: 283;
}

.fg__processSlide-img img {
    width: 100%;
    height: auto;
}

.fg__processSlide-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fg__processSlide-info h3 {
    text-align: center;
    color: var(--primary-color);
    font-size: 28px;
}

.fg__processSlide-info-description {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.fg__processSlide-info-description p {
    max-width: 939px;
    text-align: center;
    color: var(--paragraph-color);
    font-size: 18px;
}