.fg__processSlider {
  width: 100%;
}

.swiper {
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-prev {
  opacity: 0!important;
}

.swiper-slide-next {
  opacity: 0!important;
}

.swiper-pagination {
  position: relative!important;
}

.swiper-pagination-bullet {
  width: 20px!important;
  height: 20px!important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
