.fg__processSlider {
  width: 100%;
  padding: 0 5rem;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px!important;
  height: 650px!important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
