.fg__feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 360px;
    max-width: 450px;
    margin-top: 5rem;
}

.fg__feature img {
    width: 100px;
    height: 100px;
}

.fg__feature h1 {
    color: #1E255E;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    height: 56px;
    padding-top: 1rem;
}

.fg__feature p {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    height: 150px;
    padding: 0 3rem;
}