.fg__process {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fg__process-container{
    width: 100%;
    padding: 3rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
}

.fg__process-container h1:first-child {
    color: #1E255E;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

.fg__process-container-slider {
    width: 100%;
}

@media (max-width: 768px) {
    .fg__process-container {
        padding: 0 1rem;
    }

    .fg__process-container h1:first-child {
        font-size: 22px;
    }
}

@media (min-width: 768px) and (max-width: 1600px) {
    .fg__process-container {
        padding: 3rem 3rem 0 3rem;
    }

    .fg__process-container h1:first-child {
        font-size: 38px;
    }
}