.fg__hero {
    width: 100%;
    background: linear-gradient(0deg, rgba(23,164,208,0.5) 0%, rgba(256,256,256,0.5) 100%);
}

.fg__hero-container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

.fg__hero-container_info {
    flex: 50%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.fg__hero-container_info h1{
    color: #1E255E;
    font-size: 52px;
    font-weight: 700;
    flex: 2;
    padding-right: 2rem;
}

.fg__hero-container_info p {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    flex: 1;
}

.fg__hero-container_info-actions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.fg__hero-container_info-actions button {
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background-color: #17A4D0;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: none;
}

.fg__hero-container_slider {

    padding: 1rem;
    max-width: 720px;
}

.fg__hero-container_img {

    min-width: 360px;
    min-height: 360px;
    max-width: 720px;
    max-height: 720px;
    margin-right: 2.5rem;
}

.fg__hero-container_img img {
    width: 100%;
    border-radius: 50px;
}

.fg__hero-container_slider img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
    .fg__hero-container {
        align-items: center;
        flex-direction: column;
    }

    .fg__hero-container_info {
        flex: 50%;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .fg__hero-container_info h1{
        font-size: 36px;
        text-align: center;
        padding-right: 0;
    }

    .fg__hero-container_info p {
        color: #333;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
    }

    .fg__hero-container_info-actions {
        display: none;
    }

    .fg__hero-container_img {
        margin: 0 1rem;
    }
}