.fg__features {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fg__features-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fg__features-container h2 {
    width: 100%;
    margin-bottom: var(--subtitles-margin-bottom);
    text-align: center;
    color: var(--primary-color);
    font-size: var(--subtitles-font-size);
    font-weight: var(--subtitles-font-weight);
}

.fg__features_cards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 5rem;
}