.fg__features {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.fg__features-container {
    position: relative;
    width: 100%;
    padding: 1rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fg__features-container h2 {
    width: 100%;
    margin-bottom: var(--subtitles-margin-bottom);
    text-align: center;
    color: var(--primary-color);
    font-size: 52px;
    font-weight: bolder;
}

.fg__features_cards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 12rem;
    row-gap: 5rem;
}

.fg__features-background {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .fg__features {
        margin-top: 1.5rem;
    }

    .fg__features-container {
        padding: 0 1rem;
    }

    .fg__features-container h2 {
        font-size: 36px;
    }

    .fg__features_cards {
        row-gap: 3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .fg__features-container {
        padding: 0;
    }
}