.fg__features {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fg__features-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}