.fg__mainnav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fg__mainnav-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fg__mainnav-logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fg__mainnav-logo_container img {
    width: 67.5px;
    height: 71px;
}

.fg__mainnav-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}