:root {
    --primary-color: #1E255E;
    --secondary-color: #17A4D0;
    --paragraph-color: #333;
    --navbar-height: 120px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    scroll-padding-top: var(--navbar-height);
}

.app, nav, main, section, footer{
    margin: 0 auto;
    width: 100%;
}

main {
    position: relative;
    top: var(--navbar-height);
}

a {
    color: unset;
    text-decoration: none;
}