.fg__footer {
    width: 100%;
    margin-top: var(--navbar-height);
}

.fg__footer-top {
    width: 100%;
    background-color: rgba(82, 173, 200, 0.15);
    display: flex;
}

.fg__footer-top-quote {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fg__footer-top-quote-info {
    margin: 5rem 0;
    padding: 2rem 3rem 2rem 2rem; 
    width: 50%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.fg__footer-top-quote-info p{
    color: var(--paragraph-color);
    font-size: 16px;
}

.fg__footer-top-quote-info p em {
    font-weight:bolder;
}

.fg__footer-top-quote-info h3 {
    font-size: 14px;
    font-weight: 800;
    align-self: flex-end;
}

.fg__footer-top-cta {
    margin-top: 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1rem;
}

.fg__footer-bottom {
    width: 100%;
    min-height: 200px;
    background-color: #424561;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fg__footer-bottom a:hover {
    color: red;
}

@media only screen and (max-width: 768px) {
    .fg__footer-top {
        flex-direction: column-reverse;
    }

    .fg__footer-top-quote {
        padding: 0 1rem;
        padding-bottom: 1.5rem;
    }

    .fg__footer-top-quote-info {
        width: 100%;
        margin: 2rem 0 0 0;
        padding: 2rem 2rem; 
    }
 
    .fg__footer-top-cta {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 2rem;
    }

    .fg__footer-top-cta h2 {
        width: 100%;
        padding: 0 1rem;
    }

    .fg__footer-top-cta-form {
        width: 100%;
        padding: 1rem;
    }

    .fg__footer-bottom{
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .fg__footer-top {
        flex-direction: column;
    }

    .fg__footer-top-quote {
        padding: 0 5rem;
    }

    .fg__footer-top-quote-info {
        width: 100%;
        margin: 2rem 0;
        padding: 2rem 2rem; 
    }

    .fg__footer-top-cta {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 2rem;
    }

    .fg__footer-top-cta h2 {
        width: 100%;
        padding: 0 5rem;
    }

    .fg__footer-top-cta-form {
        padding: 1rem 5rem 2rem 5rem;
    }
}